# ==============================================================================
# CONFIGURAÇÕES DE VERSÃO DAS IMAGENS (DOCKER)
# ==============================================================================
KAFKA_VERSION=7.6.0
KAFKA_UI_VERSION=latest
POSTGRES_VERSION=16-alpine

# ==============================================================================
# CONFIGURAÇÕES DO APACHE KAFKA
# ==============================================================================
KAFKA_PORT=9092
KAFKA_CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk

# ==============================================================================
# CONFIGURAÇÕES DA INTERFACE VISUAL (KAFKA UI)
# ==============================================================================
KAFKA_UI_PORT=8080

# ==============================================================================
# CONFIGURAÇÕES DO BANCO DE DADOS (POSTGRESQL)
# ==============================================================================
POSTGRES_PORT=5432
POSTGRES_USER=insira_o_usuario_aqui
POSTGRES_PASSWORD=insira_a_senha_aqui
POSTGRES_DB=ecommerce_master